header{background:#3366ff;


}
.main {
	background:#f2f2f2;
}

.color1 {
	background: #3366ff;
	color:#fff;
}
.color2 {
	background: #B0A711;
	color:#fff;
}
.color3{
	background: #292f33;
}

footer {
	background:#292f33;
	color:#fff;
	
}
.text1{
	

}
