header{background:#3366ff;


}
.main {
	background:#f2f2f2;
}

.color1 {
	background: #3366ff;
	color:#fff;
}
.color2 {
	background: #B0A711;
	color:#fff;
}
.color3{
	background: #292f33;
}
.color4{
	background: #000000;
}

.color5{
	background: #01959f;
}
.color6{
	background: #292f33;
}
.color7{
	background: #787678;
}
.color8{
	background: #dadada;
}
.color9{
	background: #e6ae11;
	color:#fff;
}
.color10{
	background: #ffffff;
}
.color11{
	background: #004265;
	color:#fff;
}
.color12{
	background: #7cb139;
}

footer {
	background:#292f33;
	color:#fff;
	
}

